body {
  margin: 0;
  background-color: #21232E;
  color: white;
  font-family: "Fresca", sans-serif;
}
body * {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.header {
  background: url("../img/m-h-night.jpg") no-repeat 0 0;
  background-size: cover;
  min-height: 96vh;
  padding-top: 26px;
  border-radius: 0 0 40% 0;
  margin-bottom: 60px;
}
.header .landing-logo {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: start;
  font-family: "Fresca", sans-serif;
  font-weight: 600;
  margin-bottom: 6.5em;
}
.header .landing-logo img {
  width: 4em;
  height: 4em;
  margin-right: .7em;
}
.header .landing-logo p {
  font-size: 38px;
  text-align: center;
  line-height: 1.2;
}
.header .landing-logo p span {
  display: block;
  font-size: 15px;
}

.header-wrap {
  margin: 0 10%;
  width: 1500px;
}

.header_heading {
  position: relative;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 6.5em;
  font-weight: bold;
  line-height: 1;
  width: 50%;
  z-index: 1;
}
.header_heading::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #FF4E33;
  width: 4.2em;
  bottom: 0;
  z-index: -1;
  height: 31px;
}

p.header_text {
  font-family: "Fresca", sans-serif;
  font-weight: 300;
  font-size: 20px;
  width: 47%;
  margin: 4.3em 0;
}

.header_button {
  background-color: #E3AC00;
  padding: .8em 2.5em;
  border: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
}
.header_button:hover {
  cursor: pointer;
  background-color: #ffc40d;
}

.section {
  color: white;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.section p.section_text {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-size: 45px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}
.section p.section_text:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #FF4E33;
  z-index: -1;
  height: 16px;
  left: 52.5%;
  width: 45%;
  bottom: 10%;
}
.section .section_card_wrap {
  width: 1500px;
  margin: 60px auto 263px;
  display: flex;
  justify-content: space-between;
}

.section_card {
  width: 32%;
  border-radius: 5px;
  background-color: #3B3F50;
  padding: 25px;
}
.section_card:nth-last-child(1) .section_card_heading {
  margin-bottom: 10px;
}
.section_card .section_card_img {
  border-radius: 5px;
  width: 100%;
}
.section_card .section_card_text {
  opacity: .6;
  font-size: 20px;
  line-height: 1.5;
}

p.section_card_heading {
  position: relative;
  z-index: 1;
  font-family: "Hind", sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 27px;
  line-height: 2.5;
}
p.section_card_heading span {
  content: "";
  display: block;
  position: absolute;
  background-color: #FF4E33;
  z-index: -1;
  height: 16px;
  bottom: 25%;
  width: 100%;
}

.section_banner {
  width: 1200px;
  margin: 0 auto;
  background: linear-gradient(to right, #db9f07 0%, #922c51 100%);
  color: white;
  display: flex;
  border-radius: 5px;
  padding: 30px;
  justify-content: space-around;
  position: absolute;
  z-index: 11;
  bottom: -51%;
  left: 20%;
}
.section_banner .section_banner_button {
  background-color: #E3AC00;
  padding: .8em 2.5em;
  border: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  align-self: center;
}
.section_banner .section_banner_button:hover {
  cursor: pointer;
  background-color: #ffc40d;
}

.section_banner_text_wrap {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
}
.section_banner_text_wrap .section_banner_heading {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 22px;
}
.section_banner_text_wrap .section_banner_heading:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #FF4E33;
  z-index: -1;
  height: 16px;
  left: 29%;
  width: 2.2em;
  bottom: 4px;
}
.section_banner_text_wrap .section_banner_text {
  margin-bottom: 20px;
  opacity: 0.7;
  font-size: 20px;
  font-family: "Fresca", sans-serif;
}

.footer {
  height: 345px;
  background-color: #3B3F50;
  color: white;
  padding: 11em 0 5em 0;
}

.footer_logo {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: start;
  font-family: "Fresca", sans-serif;
  font-weight: 600;
  margin-bottom: 6.5em;
}
.footer_logo img {
  width: 4em;
  height: 4em;
  margin-right: .7em;
}
.footer_logo p {
  font-size: 38px;
  text-align: center;
  line-height: 1.2;
}
.footer_logo p span {
  display: block;
  font-size: 15px;
}

.footer-wrap {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-wrap .footer_text {
  width: 28%;
  font-size: 18px;
}

.footer-cr, .footer_logo p, .footer-wrap .footer_text {
  opacity: 0.6;
}
