body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.wrapper {
    width: 60%;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
}
label {
    width: 100%;
}
ul {
    width: 100%;
    padding: 0;
    list-style: none;
}
li {
    margin-bottom: 10px;
    overflow: hidden;
}
h1 {
    color: #22BED7;
    text-align: center;
}
span {
    text-transform: uppercase;
}
.message {
    width: 100%;
    padding: 15px;
    border: 1px solid #C9D0D5;
    border-radius: 3px;
    font-size: 11px;
    color: #7EC2F6;
}
.message::placeholder {
    color: #666666;
}
button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}
.add {
    color: #C9D0D5;
    margin: 0 18px;
}
.icon_size {
    font-size: 42px;
}
hr {
    height: 5px;
    border: none;
    background-color: #e2f1fd;
    margin: 25px 0;
}
.item_text {
    display: block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    color: #22BED7;
    font-size: 20px;
    font-weight: 600;
}
.edit i, .delete i {
    color: #7EC2F6;
    font-size: 30px;
    vertical-align: middle;
    cursor: pointer;
}
.edit {
    color: #22BED7;
}
.delete {
    float: right;
}
.edit_mode {
    display: none;
}

input[type="checkbox"] {
    display: none;
  }
