@import 'variables1', 'variables2';
$map-fonts: (
        fontFam1: ('Source Sans Pro', sans-serif),
        fontFam2: ('Hind', sans-serif),
        fontFam: $font
);
@mixin lines {
  content: "";
  display: block;
  position: absolute;
  background-color: $sticksColor;
  width: 4.2em;
  bottom: 0;
  z-index: -1;
  height: 16px;
}
@mixin buttons {
  background-color: $button;
  padding: .8em 2.5em;
  border: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 3px;
  font-family: map_get($map-fonts, fontFam1);
  &:hover {
    cursor: pointer;
    background-color: lighten($button, 8%);
  }
}
body {
  margin: 0;
  background-color: $bodyColor;
  color: $textColor;
  font-family: map_get($map-fonts, fontFam);
  * {
    box-sizing: border-box;
  }
}
p {
  margin: 0;
}
@mixin logo {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: start;
  font-family: map_get($map-fonts, fontFam);
  font-weight: 600;
  margin-bottom: 6.5em;
  img {
    width: 4em;
    height: 4em;
    margin-right: .7em;
  }
  p {
    font-size: 38px;
    text-align: center;
    line-height: 1.2;
    span {
      display: block;
      font-size: 15px;
    }
  }
}
.header {
  background: $headBackground;
  background-size: cover;
  min-height: 96vh;
  padding-top: 26px;
  border-radius: 0 0 40% 0;
  margin-bottom: 60px;
  .landing-logo {
    @include logo;
  }
}
.header-wrap {
  margin: 0 10%;
  width: 1500px;
}
.header_heading {
  position: relative;
  color: $textColor;
  font-family: map_get($map-fonts, fontFam1);
  font-size: 6.5em;
  font-weight: bold;
  line-height: 1;
  width: 50%;
  z-index: 1;
  &::after {
    @include lines;
    height: 31px;
  }
}
  p.header_text {
    font-family: map_get($map-fonts, fontFam);
    font-weight: 300;
    font-size: 20px;
    width: 47%;
    margin: 4.3em 0;
  }
  .header_button {
    @include buttons;
  }
.section {
  color: white;
  margin: 0 auto;
  text-align: center;
  position: relative;
  p.section_text {
    position: relative;
    display: inline-block;
    z-index: 1;
    font-size: 45px;
    font-weight: 600;
    font-family: map_get($map-fonts, fontFam1);
    color: $textColor;
    &:before {
      @include lines;
      left: 52.5%;
      width: 45%;
      bottom: 10%;
    }
  }
  .section_card_wrap {
    width: 1500px;
    margin: 60px auto 263px;
    display: flex;
    justify-content: space-between;
  }
}
.section_card {
  width: 32%;
  border-radius: 5px;
  background-color: $backGroundColor;
  padding: 25px;
  &:nth-last-child(1) .section_card_heading {
    margin-bottom: 10px;
  }
  .section_card_img {
    border-radius: 5px;
    width: 100%;
  }
  .section_card_text {
    opacity: .6;
    font-size: 20px;
    line-height: 1.5;
  }
}
p.section_card_heading {
  position: relative;
  z-index: 1;
  font-family: map_get($map-fonts, fontFam2);
  font-weight: 700;
  display: inline-block;
  font-size: 27px;
  line-height: 2.5;
  span {
    @include lines;
    bottom: 25%;
    width: 100%;
  }
}
.section_banner {
  width: 1200px;
  margin: 0 auto;
  background: $gradient;
  color: white;
  display: flex;
  border-radius: 5px;
  padding: 30px;
  justify-content: space-around;
  position: absolute;
  z-index: 11;
  bottom: -51%;
  left: 20%;
  .section_banner_button {
    @include buttons;
    align-self: center;
  }
}
.section_banner_text_wrap {
  font-family: map_get($map-fonts, fontFam1);
  text-align: left;
  .section_banner_heading {
    position: relative;
    z-index: 1;
    color: $textColor;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 22px;
    &:after {
      @include lines;
      left: 29%;
      width: 2.2em;
      bottom: 4px;
    }
  }
  .section_banner_text {
    margin-bottom: 20px;
    opacity: 0.7;
    font-size: 20px;
    font-family: map_get($map-fonts, fontFam);
  }
}
.footer {
  height: 345px;
  background-color: $backGroundColor;
  color: white;
  padding: 11em 0 5em 0;
}
.footer_logo {
  @include logo;
  p {
    @extend .footer-cr;
  }
}
.footer-wrap {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .footer_text {
    width: 28%;
    @extend .footer-cr;
    font-size: 18px;
  }
}
.footer-cr {
  opacity: 0.6;
}