$headBackground: url('../img/m-h-night.jpg') no-repeat 0 0;
$backGroundColor: #3B3F50;
$sticksColor: #FF4E33;
$button: #E3AC00;
$textColor: white;
$bodyColor: #21232E;
$gradient: linear-gradient(to right, rgba(219, 159, 7, 1) 0%, rgba(146, 44, 81, 1) 100%);