$headBackground: url('../img/m-h-day.jpg') no-repeat 0 60%;
$backGroundColor: #21232E;
$sticksColor: #14A0C7;
$button: #699900;
$textColor: #2C2F3C;
$bodyColor: white;
$gradient: linear-gradient(to right, rgba(99, 147, 20, 1) 0%, rgba(48, 94, 205, 1) 100%);
$font: 'Source Sans Pro', sans-serif;